# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg-info/
dist/
build/